# Perkenalan


___
Milestone 2

Nama: Fadhiil Dzaki Mulyana<br>
Batch: HCK-22

Notebook ini akan digunakan untuk melakukan inferensi pada model KNN yang telah dibuat sebelumnya.
___

# Library

In [1]:
import pickle
import pandas as pd
import numpy as np
from unidecode import unidecode
from Feature_creation import create_zone

# Data Inference

In [2]:
# Membuat dataset inference secara manual dengan nama distrik São Paulo
df_inf = pd.DataFrame({
    "Condo": [1000, 1200, 1500, 800, 2000, 1800, 2200, 1700, 2400, 2000],
    "Size": [85, 120, 95, 65, 110, 150, 200, 175, 210, 90],
    "Rooms": [2, 3, 2, 1, 3, 4, 3, 4, 5, 3],
    "Toilets": [2, 3, 2, 1, 2, 3, 3, 2, 4, 3],
    "Suites": [1, 2, 1, 0, 1, 2, 2, 1, 3, 2],
    "Parking": [1, 2, 1, 0, 2, 3, 3, 2, 4, 3],
    "Elevator": [1, 0, 1, 1, 0, 1, 1, 1, 0, 1],
    "Furnished": [0, 1, 1, 0, 1, 1, 0, 1, 0, 1],
    "Swimming Pool": [1, 0, 1, 0, 1, 1, 0, 1, 0, 1],
    "New": [1, 0, 1, 1, 0, 1, 0, 1, 0, 1],
    "District": [
        "Bela Vista", "Pinheiros", "Morumbi", "Vila Mariana", "Moema", 
        "Santana", "Lapa", "Tatuapé", "Itaim Bibi", "Brooklin"
    ],  # Nama distrik São Paulo
    "Negotiation Type": ["Sale", "Rent", "Sale", "Rent", "Sale", "Rent", "Sale", "Rent", "Sale", "Rent"],
    "Property Type": ["Apartment"] * 10,  # Semua properti bertipe "Apartment"
    "Latitude": [-23.5, -23.6, -23.4, -23.7, -23.8, -23.55, -23.65, -23.45, -23.75, -23.6],
    "Longitude": [-46.6, -46.7, -46.5, -46.6, -46.8, -46.65, -46.75, -46.55, -46.7, -46.65]
})

# create zone
df_inf = create_zone(df_inf)

# check cardinality
print ('District:', len(df_inf['District'].unique().tolist()))
print ('Zone:', len(df_inf['Zone'].unique().tolist()))
print('shape:', df_inf.shape)

# Tampilkan dataset
df_inf

District: 10
Zone: 5
shape: (10, 16)

,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,Zone
0,1000,85,2,2,1,1,1,0,1,1,Bela Vista,Sale,Apartment,-23.50,-46.60,Downtown
1,1200,120,3,3,2,2,0,1,0,0,Pinheiros,Rent,Apartment,-23.60,-46.70,West
2,1500,95,2,2,1,1,1,1,1,1,Morumbi,Sale,Apartment,-23.40,-46.50,South Central
3,800,65,1,1,0,0,1,0,0,1,Vila Mariana,Rent,Apartment,-23.70,-46.60,South Central
4,2000,110,3,2,1,2,0,1,1,0,Moema,Sale,Apartment,-23.80,-46.80,South Central
5,1800,150,4,3,2,3,1,1,1,1,Santana,Rent,Apartment,-23.55,-46.65,North
6,2200,200,3,3,2,3,1,0,0,0,Lapa,Sale,Apartment,-23.65,-46.75,West
7,1700,175,4,2,1,2,1,1,1,1,Tatuape,Rent,Apartment,-23.45,-46.55,Southeast
8,2400,210,5,4,3,4,0,0,0,0,Itaim Bibi,Sale,Apartment,-23.75,-46.70,South Central
9,2000,90,3,3,2,3,1,1,1,1,Brooklin,Rent,Apartment,-23.60,-46.65,South Central

# Load Model

In [3]:
# load
with open('model.pkl','rb') as file_1:
    model = pickle.load(file_1)

# Predict

In [4]:
# predict
prediction = model.predict(df_inf).tolist()

# merge with df_inf
df_inf['Price'] = prediction

# check
df_inf

,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude,Zone,Price
0,1000,85,2,2,1,1,1,0,1,1,Bela Vista,Sale,Apartment,-23.50,-46.60,Downtown,1.902000e+04
1,1200,120,3,3,2,2,0,1,0,0,Pinheiros,Rent,Apartment,-23.60,-46.70,West,1.040833e+04
2,1500,95,2,2,1,1,1,1,1,1,Morumbi,Sale,Apartment,-23.40,-46.50,South Central,7.073102e+05
3,800,65,1,1,0,0,1,0,0,1,Vila Mariana,Rent,Apartment,-23.70,-46.60,South Central,1.902000e+04
4,2000,110,3,2,1,2,0,1,1,0,Moema,Sale,Apartment,-23.80,-46.80,South Central,7.416860e+05
5,1800,150,4,3,2,3,1,1,1,1,Santana,Rent,Apartment,-23.55,-46.65,North,8.053481e+05
6,2200,200,3,3,2,3,1,0,0,0,Lapa,Sale,Apartment,-23.65,-46.75,West,1.446934e+06
7,1700,175,4,2,1,2,1,1,1,1,Tatuape,Rent,Apartment,-23.45,-46.55,Southeast,1.043827e+06
8,2400,210,5,4,3,4,0,0,0,0,Itaim Bibi,Sale,Apartment,-23.75,-46.70,South Central,2.194594e+06
9,2000,90,3,3,2,3,1,1,1,1,Brooklin,Rent,Apartment,-23.60,-46.65,South Central,8.041667e+05